* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

main {
  width: 100%;
}

.list {
  width: 960px;
  padding-top: 50px;
  margin: 0 auto;
}

.list-text {
  padding: 20px;
}

.list-text:nth-child(odd) {
  background-color: #eee;
}

.image {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  margin: 0px 5% 40px 0px;
  background-color: yellow;
}

.box:nth-child(3n) {
  margin-right: 0px;
}

.box:first-child,
.box:nth-child(5),
.box:last-child {
  background-color: orange;
}

.box:last-child(-n+3) {
  padding-bottom: 0px;
}